
@model MyTrailsClient.Models.VisitEntry

<h1>Unable to add Visit Entry to UserTrail: Visit Entry is already added to this User Trail.</h1>

<p>@Html.ActionLink("Back to Visit Entry details", "Details", new { id = Model.VisitEntryId })</p>