<div class="format-box row">
  <div class="col-8">
    <h3>60 Trails In 60 Miles of PDX</h3>
    <hr />
    <div class="padder">
      <ul>
        @foreach (ApiTrail apiTrail in Model)
        {
          <li>@Html.ActionLink($"{apiTrail.Name}", "Details", new { id = apiTrail.TrailId})</li>
        }
      </ul>
    </div>
    <hr />
  </div>
  <div class="col-4">
    <img id="trees-stream-icon" src="/img/trees-stream.png" />
    <img id="backpack-icon" src="/img/backpack.png" />
    <img id="trees-stream-icon" src="/img/trees-stream.png" />
  </div>
</div>
