@model MyTrailsClient.Models.VisitEntry

<h2>Choose an existing trail</h2>

@using (Html.BeginForm())
{
  @Html.Label("Select trail")
  @Html.DropDownList("UserTrailId")
  
  <input type="submit" value="Add" class="btn btn-default" />
}