
@model MyTrailsClient.Models.UserTrail

<h1>Unable to add User Trail to Visit Entry: User Trail is already added to this Visit Entry.</h1>

<p>@Html.ActionLink("Back to User Trail details", "Details", new { id = Model.UserTrailId })</p>