<div class="format-box row">
  <div class="col-9">
  <h3>Click below to log out:</h3>
  <hr />
  @using (Html.BeginForm("LogOut", "Account"))
  {
    <button type="submit" class="btn" value="Log Out">Log Out</button>
  }
  </div>
</div>